.winterForm {
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid #FFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.winterForm:focus {
  border: 3px solid transparent;
}

.winterForm::placeholder {
  color: #FFF;
  text-align: center;
  font-size: 18px;
}

.winterForm[type='password'] {
  font-family: Verdana;
  letter-spacing: 0.125em;
  color: #FFF
}

.winterBtn {
  background-color: transparent;
  color: #000; 
  font-family: Verdana;
  font-size: 18px;
  padding: 8px 75px;
  margin: 8px 0;
  border: 3px solid #000;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: 0.125em;
}

.winterBtn:hover {
  background-color: transparent;
  color: #FFF;
  border-color: #FFF;
}

.formSection {
  position: absolute;
  left: 40%;
  bottom: 45%;
}